.header {
    width: 100%;
    height: 720px;
    margin: 0px;
    background-image: url(../images/background.png);
    background-color: #000000;
    background-size: cover;
}

body {
    margin: 0;
}

/* Navigation */

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    left: 50%;
}

.logo {
    
}
.logo a {
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 41px;
    color: #fed136;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

.navigation-name {
    font-size: 14px;
    line-height: 41px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    display: inline;
    margin: 20px;
}

/* Home */

.home {
    margin-top: 10%;
    padding: 20px;
    text-align: center;
    
}

.welcome{
    font-size: 40px;
    letter-spacing: -1px;
    color: #ffffff;
    font-weight: 400;
    font-style: italic;
    font-family: "Droid Serif";
    text-align: center;
}

.nice {
    font-size: 75px;
    letter-spacing: -2px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    padding-top: 25px;
}

.home-btn {
    text-align: center;
    padding-top: 60px;
}

.home-btn button {
    width: 240px;
    height: 65px;
    background-color: #fed136;
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}

/* Services */

.services {
    width: 100%;
    margin-top: 70px;
}

.services-title {
    text-align: center;
}

.services-title h1 {
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 75px;
    color: #222222;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}

.services-title h2 {
    font-size: 16px;
    color: #777777;
    font-weight: 400;
    font-style: italic;
    font-family: "Droid Serif";
    text-align: center;
    display: block;
    transform: translateY(-30px);
    
}

.services-options {
    display: flex;
    margin-top: 80px;
    text-align: center;
}

.services-block {
    margin: 25px;
}

.services-block i {
    font-size: 38px;
    color: #fed136;
    border-radius: 33px;
    background-color: #ffffff;
    border: 3px solid #fed136;
    width: 66px;
    height: 66px;
    top: 50%;
    left: 50%;
    line-height: 60px;
}

.services-block h2 {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 75px;
    color: #222222;
    font-weight: 700;
    font-family: "Montserrat";
    
}

.services-block a {
    font-size: 14px;
    letter-spacing: 0px;
    color: #777777;
    font-weight: 400;
    font-family: "Roboto Slab";
    text-align: center;
    display: block;
}

/* Portfolio */

.portfolio {
    width: 100%;
    margin-top: 250px;
    padding-right: 30px;
    padding-left: 30px;
}
.portfolio-title {
    text-align: center;
    margin: 70px;
}

.portfolio-title h1 {
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 75px;
    color: #222222;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    margin: 0;
}

.portfolio-title h2 {
    font-size: 16px;
    color: #777777;
    font-weight: 400;
    font-style: italic;
    font-family: "Droid Serif";
    text-align: center;
    margin-top: 0;
}

.portfolio-photos-block {
    margin: 50px;
    text-align: center;
}

.portfolio-photos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.portfolio-photos-block img {
    width: 290px;
    height: 300px;
}

.portfolio-photos-block h1 {
    font-size: 18px;
    letter-spacing: 0px;
    color: #333333;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}

.portfolio-photos-block a {
    font-size: 14px;
    color: #737373;
    font-weight: 400;
    font-style: italic;
    font-family: "Droid Serif";
    text-align: center;
}

/* Footer */

.footer {
    width: 100%;
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
}

.foot {
    margin-right: 100px;
    margin-left: 200px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 22px;
    color: #555555;
    font-weight: 400;
    font-family: "Montserrat";
    margin-top: 10px;
}

.footer-socials {
    margin-left: 100px;
    text-align: left;
}

.footer-socials i {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #222222;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color:#ffffff;
}

.fa-twitter:hover {
    background-color:#00aced;
}

.fa-facebook-f:hover {
    background-color: #3b5998;
}

.fa-pinterest-p:hover {
    background-color: #cb2028;
}

.fa-google-plus-g:hover {
    background-color: #da2713;
}

/* Media */

@media (max-width: 767px) {
    
    .logo {
        margin-left: 40px;
    }

    .foot {
        margin-left: 40px;
    }

    .footer-socials {
        margin-left: 10px;
    }

    .footer-socials i {
        width: 30px;
        height: 30px;
        border-radius: 20px;
        font-size: 15px;
        line-height: 30px;
    
    }

}







